:root{
    color-scheme: #124559, #598392, #AEC3B0, #EFF6E0 ;
}

h1 {
    color: black;
    font-family: "Averia Libre", serif;
    font-weight: 700;
    font-style: normal;


    position: absolute;
    top: 300px;
    left: 50px;
    background-color: #124559;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 30rem;
    padding-right: 30rem;
    opacity: 0.8;
}

h2 {
    color: #124559;
    font-family: "Averia Libre", serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    color: #124559;
    font-family: "Averia Libre", serif;
    font-weight: 400;
    font-style: normal;
}

p{  
    color:black;
    font-family: "Open Sans", serif;
    font-optical-sizing:auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}


.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.client {
    position: absolute;
    top: 700px;
    left: 230px;
    background-color: #AEC3B0;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    opacity: 0.85;
    font-size: larger;
}

.client img {
    width: 200px;
    height: auto;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}


