:root{
    color-scheme: light;
}

body { 
    max-width: 1000px;
    margin: 0 auto;
}

header{
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 2fr 50px;
    align-items: center;
    border:1px solid black;
    background-color: #AEC3B0;
}

header img{
    margin-left:100px;
    max-width: 150px;
    height:auto;
}

.navigation{
    display: flex;
    list-style: none;
    text-align: center;
}

.navigation li{
    flex: 1 1 100%;
}

.navigation a{
    display: block;
    padding: 10px;
    color: #124559;
    font-family: "Averia Libre", serif;
    font-weight: 700;
    font-style: normal;
    border: 1px solid black;
    background-color: #EFF6E0;
    text-decoration: none;
}

.navigation a:hover{
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
}

h1 {
    color: khaki;
    font-family: "Averia Libre", serif;
    font-weight: 700;
    font-style: normal;

    position: absolute;
    width: 100%;
    top: 50px;
    background-color: #124559;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    opacity: 0.8;
}

h2 {
    color: #124559;
    font-family: "Averia Libre", serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    color: #124559;
    font-family: "Averia Libre", serif;
    font-weight: 400;
    font-style: normal;
}

p{  
    color:black;
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.hero {
    position: relative;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.client {
    position: absolute;
    top: 50%;
    left: 7%;
    width: 80%;
    height:auto;
    background-color: #AEC3B0;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    opacity: 0.85;
    font-size: larger;
}

.client img {
    max-width: 200px;
    height: auto;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

.history{
    margin: 1rem 0 1rem 0;
    border: 1px solid black;
    padding: 3rem;
    display:grid;
    justify-items: center;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 3fr;
}

.history p{
    margin-left:1rem;
    text-align: left;
}
.columns3{
    grid-column: 1/4;
}
.history img{
    padding: 1rem;
    border:1px solid gray;
    width: 200px;
    height:auto;
}

.section2{
    margin: 1rem 0 1rem 0;
    border: 1px solid black;
    text-align: center;
}

.adventure{
    display:flex;
}

.adventure img{
    width: 100px;
    height: 80px;
    border: 1px solid black; 
    flex: 1 1 auto;
    flex-wrap: wrap;

}

footer{
    margin: 1rem 0 1rem 0;
    border: 1px solid black;
    background-color: #AEC3B0;
}
footer img{
    max-width:40px;
    height: auto;
    margin-left:5px;
    margin-right:5px;
    text-decoration: none;
}
.icons{
    margin-right: 1.5rem;
    display:flex;
    justify-content: right;
    align-items: center;
}
.icons p{
    margin-right:10%;
}

/*contact info CSS*/
.info{
    display:flex;
    justify-content: center;
    background-color: #EFF6E0;
    border:1px solid black;
}
.map iframe{
    width:350px;
    height:auto;
    padding:1rem;
    border:1px solid gray;
    margin:1.5rem 1.5rem;
    background-color: #eee;
    border-radius: 0.5em;
}
/*employees part CSS*/
.employees{
    display:flex;
    justify-content: center;
    background-color: #EFF6E0;
    margin: 1rem 10%;
    border: 1px gray;
    border-radius: 0.5em;
}
.employees img{
    width:150px;
    height:100px;
}

/* form CSS*/
form{
    width:500px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0.5em;
    background-color: #eee;
    display: grid;
}

.form-item{
    display:grid;
    align-items: center;
}

.column2{
    grid-template-columns: 1fr 2fr;
}

legend{
    padding:0.5rem;
    color: navy;
    font-size: 1.3em;
}

fieldset{
    display:grid;
    grid-gap:0.5em;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
}

label, input, button, select, textarea{
    font-family: Arial, Helvetica, sans-serif;
}

label{
    text-align: left;
    padding-right: 0.5rem;
}

input, select, textarea{
    padding: 0.5rem;
    font-size: 1em;
}

input[type="checkbox"]{
    width:20px;
    height: 20px;
    vertical-align: bottom;
}

button{
    width:200px;
    margin:1rem auto;
    padding:1rem;
    background-color: navy;
    color: white;
}
button:hover{
    background-color: darkgreen;
}

.contactlink{
    margin-right: 1rem;
}